* {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
}
body {
  width: 100%;
  background-color: hsl(0, 2%, 92%);
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
main {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-content: center;
  width: fit-content;
}
.firstSection {
  grid-area: one;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: hsl(256, 67%, 59%);
  width: 80%;
  padding: 30px;
  border-radius: 16px;
}
.mainPrgraph {
  text-align: center;
  font-size: 35px;
  margin: 20px 0;
  font-weight: 800;
}

.tenMore {
  font-size: 40px;
  color: gold;
}
.imgStar {
  width: 90%;
}
.secoundSection {
  grid-area: sec;

  background-color: white;
  padding: 10px;
  border-radius: 16px;
  width: 80%;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  margin-top: 20px;
}
.imgsecoundSection {
  width: 100%;
}
.secoundSectionPragraph {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
.threeSection {
  position: relative;
  height: 200px;
  padding: 10px;
  border-radius: 16px;
  width: 80%;
  margin-top: 20px;
  background-color: hsl(39, 100%, 71%);
  grid-area: three;
}
.threeSectionImg {
  width: 50%;
  position: absolute;
  bottom: 0px;
  left: 7%;
}
.threeSectionPragraph {
  font-size: 20px;
}
.fourSection {
  padding: 10px;
  border-radius: 16px;
  width: 80%;
  margin-top: 20px;
  background-color: hsl(254, 88%, 90%);
  grid-area: four;
}
.fourSectionIMG {
  width: 80%;
  margin: 10px;
}
.fourSectionParagraph2 {
  opacity: 0.9;
  width: 80%;
}
.fiveSection {
  background-color: hsl(256, 67%, 59%);
  color: white;
  font-weight: 600;
  grid-area: five;
}
.fiveSectionimg {
  width: 60%;
}
.fiveSectionprg {
  width: 70%;
  font-size: large;
  font-weight: 500;
  margin-top: 15px;
}
.sixSection {
  background-color: white;
  text-align: left;
  grid-area: six;
}
.sixSectionprg {
  font-size: 25px;
  font-weight: 700;
  margin: 10px;
}
.sixSectionprg2 {
  margin: 10px;
}
.sixSectionImg {
  margin: 10px;
}
.sevensection {
  background-color: hsl(31, 66%, 93%);
  text-align: left;
  grid-area: seven;
}
.sevensectionPrg {
  font-size: 20px;
  font-weight: 500;
  margin: 15px 0;
}
.sevensectionPrg span {
  color: hsl(256, 67%, 59%);
}
.eight {
  text-align: left;
  background-color: hsl(39, 100%, 71%);
  grid-area: eight;
}
.eightPrg {
  font-size: 20px;
  font-weight: 500;
  margin: 15px 0;
}

div {
  text-align: center;
  padding: 10px;
  border-radius: 16px;
  width: 80%;
  margin-top: 20px;
  width: 80%;
}
img {
  width: 50%;
}
@media screen and (min-width: 480px) {
  body {
    padding: 0;
    margin: 0;
    
     max-height:100vh ;
  }
  main {
    padding: 0;
    margin: 0;
    scale: .95;
    transform: scaleY(.6);

    display: grid;

    grid-template-areas:
      "seven one one four"
      "seven sec three four"
      "eight sec three four"
      "eight six five five";
    gap: 20px;
  }
  .firstSection {
    width: 100%;
    height: 100%;
    padding: 30px 30px;
    margin-top: 0;
    grid-area: one;
  }
  .mainPrgraph{
    font-size: 60px;
    width: 90%;

  }
  .tenMore{
    font-size: 65px;
  }
  .imgStar{
    width: 60%;
    margin: 10px 0;
  }
  .secoundSection {
    grid-area: sec;
    width: 100%;
  } 
   .secoundSectionPragraph{
    font-size:30px;
    text-align: left;
    }

  .threeSection {
    grid-area: three;
    text-align: center;
    width: 100%;
    height: 100%;


  }
  .threeSectionPragraph{
    text-align: left;


  }
  .threeSectionImg{
left:25%
  }
  .fourSection {
    margin-top: 0;
    overflow: hidden;
    grid-area: four;
    height: 100%;
    width: 100%;
  }
  .fourSectionParagraph{
    text-align: center;

    font-size: 30px;
    width: 100%;
    margin: 30px auto;
  }
  .fourSectionParagraph2{

  }
  .fourSectionIMG{
    position: relative;
    left: 30%;
    height:55%;
    width:100%;

  }
  .fiveSection {
    grid-area: five;
  }
  .sixSection {
    grid-area: six;
  }
  .sixSectionImg{width: 80%; margin: 15px 0;}
  .sixSectionprg{font-size: 50px ;margin: 10px 0;}
  .sixSectionprg2{ font-size: 25px; margin: 20px 0;}
  .sevensection 
  {margin-top: 0;
    width:fit-content;
    text-align: center;
    grid-area: seven;
   
  }
  .sevensectionPrg{
    width: 80%;
    font-size: 55px;
    
  }
  .eight {
    grid-area: eight;
    text-align: center;
    width:fit-content;

  }
.eightPrg{
  text-align: left;
  font-size: 55px;
  width: 70%;

}
  div {
    height: 100%;
    width: 100%;

  }
}

/* - Purple 100: hsl(254, 88%, 90%)
- Purple 500: hsl(256, 67%, 59%)

- Yellow 100: hsl(31, 66%, 93%)
- Yellow 500: hsl(39, 100%, 71%)

- White: hsl(0, 0%, 100%)
- Black: hsl(0, 0%, 7%) */
